@font-face {
    font-family: 'Banny Round';
    font-style: normal;
    font-weight: normal;
    src: local('Banny Round'), url('../fonts/Banny-Round.woff') format('woff');
}
    

    @font-face {
    font-family: 'Banny Light Round';
    font-style: normal;
    font-weight: normal;
    src: local('Banny Light Round'), url('../fonts/Banny-LightRound.woff') format('woff');
}
    

    @font-face {
    font-family: 'Banny Bold Round';
    font-style: normal;
    font-weight: normal;
    src: local('Banny Bold Round'), url('../fonts/Banny-BoldRound.woff') format('woff');
}